#enquete-quartier {
  height: 100%;
  width: 100%;
  z-index: 100;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  #background {
    height: auto;
    width: auto;
    max-width: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }
  .zone {
    background: transparent;
    outline: 0.2rem solid;
    border-radius: 50%;
    &.zone-1 {
      outline-color: green;
    }
    &.zone-2 {
      outline-color: orange;
    }
    &.zone-3 {
      outline-color: red;
    }
  }
  .place {
    border-radius: 50%;
    width: min(2dvw, 2rem);
    height: min(2dvw, 2rem);
    &.zone-0 {
      background-color: #44F;
    }
    &.zone-1{
      background-color: green;
    }
    &.zone-2{
      background-color: #FAA;
    }
    &.zone-3{
      background-color: #F79;
    }
  }
}