.filter__wrapper {
	// margin-bottom: 2rem;
	display: flex;
	gap: 1rem;
	width: 100%;
	justify-content: space-between;
}
.filter__button {
	padding: 0.2rem 0.5rem;
	width: -moz-available; /* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
	height: fit-content;
	font-family: "Gabriele";
	font-weight: 500;
	border-radius: 20px;
	background-color: $secondary-color;
	border: none;
	cursor: pointer;
}

@include responsive(mobile) {
	.filter__button {
		width: 8rem;
	}
}

.filter--type__container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: flex-start;
	& .filter--active {
		background-color: $tertiary-color;
	}
}

.filter--box__container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: flex-end;
	& .filter--active {
		background-color: $validated-color;
	}
}
