.modal-forgot {
	&__background {
		@include modaleBackground;
	}
	&__box {
		@include modaleBox;
		width: 80%;
	}
	&__icon {
		width: 2.5rem;
		&--container {
			align-self: self-end;
			cursor: pointer;
			background-color: transparent;
			border: none;
		}
	}
	&__title {
		color: $secondary-color;
		line-height: 1.5rem;
		font-size: 1.25rem;
	}
}

.signin {
	width: 100%;
	max-width: 50rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__forget {
		cursor: pointer;
		color: $secondary-color;
		font-size: 1rem;
		line-height: 1.25rem;
		padding: 1vh 0 3vh 0;
		font-family: "Gabriele";
		text-decoration: underline;
		background-color: transparent;
		border: none;
		&:hover {
			color: $tertiary-color;
		}
	}
	&__form .input-wrapper-text {
		margin-bottom: 1rem;
	}
	&__errorMessage {
		padding-bottom: 1.5rem;
	}
	&__button__signup {
		max-width: max-content;
	}
	&__instructions {
		margin-bottom: 0.5rem;
	}
}

.signin__errorMessage,
.modal-forgot__errorMessage {
	color: $tertiary-color;
	line-height: 1.25rem;
	font-size: 1.25rem;
}
