//pour centrer un élément enfant parfaitement dans le parent flex
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// pour que se place de manière optimale (au max) dans sa div parent
@mixin img-max {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

//fonction pour simplement nommer le device concerné pour le responsive
@mixin responsive($device) {
	@media screen and (min-width: map-get($breakpoints, $device)) {
		@content;
	}
}

//fonction pour styliser toutes les modales
@mixin modaleBackground {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	overflow: auto;
	display: flex;
}

@mixin modaleBox(){
	z-index: 10;
	margin: auto;
	padding: 2rem;
	// max-width: 80%;
	max-width: 1224px;
	background: $primary-color;
	border: solid 1px $secondary-color;
	// position: relative;
	box-shadow: -5px 10px 30px 0px rgba(0, 0, 0, 0.4);
	@include flex-center;
	flex-direction: column;
	gap: 2rem;
	// max-height: 100vh;
}
