.main__history {
	padding: 1.5rem;
	border: 1px solid $secondary-color;
	// border-top: none;
	background-color: $primary-color;
	height: 60vh;
	min-height: 20rem;
	display: flex;
	flex-direction: column;
}

@include responsive(laptop) {
	.main__history {
		margin-bottom: 8rem;
		height: 50vh;
		min-height: 20rem;
	}
}
