.main__help {
	padding: 1.5rem;
	border: 1px solid $secondary-color;
	// border-top: none;
	background-color: $primary-color;
	height: 60vh;
	min-height: 20rem;
	overflow: auto;
	&--menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;
	}
	&--partie {
		display: flex;
		flex-direction: column;
		width: max-content;
		gap: 1rem;
		margin-bottom: 1rem;
	}
}

@include responsive(laptop) {
	.main__help {
		margin-bottom: 8rem;
		height: 50vh;
		min-height: 20rem;
	}
}

.help {
	&__menu {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 1rem;
		// flex-direction: column;
		justify-content: center;
		align-content: center;
		width: 100%;
	}
	&__title {
		font-family: "Gabriele";
		font-size: 1rem;
		line-height: 1.5rem;
		margin-bottom: 1rem;
	}
}

@include responsive(laptop) {
	.help__title {
		font-size: 1.5rem;
		margin-bottom: 3rem;
	}
}

.menu__choice {
	cursor: pointer;
	height: 5rem;
	max-width: 20rem;
	width: 100%;
	padding: 1rem;
	// margin: 1rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	&__content {
		display: grid;
		width: 100%;
		grid-template-columns: 10% 80%;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	&__icon-wrapper {
		max-width: 100%;
		max-height: 100%;
	}
	&__icon {
		width: 100%;
		height: 100%;
	}
	&__title {
		text-align: left;
		font-family: fixture;
		font-size: 1.75rem;
		font-weight: 600;
	}
}

.menu__choice--done {
	background-color: $primary-color;
	border: solid 1px $validated-color;
	color: $validated-color;
}

.menu__choice--open {
	background-color: $secondary-color;
	border: solid 1px $primary-color;
	color: $primary-color;
}

.menu__choice--closed {
	background-color: $primary-color;
	border: solid 1px $tertiary-color;
	color: $tertiary-color;
	position: relative;
	&:hover {
		animation: shake 800ms ease;
	}
}

.menu__choice__icon-wrapper--closed {
	position: absolute;
	width: 2rem;
	top: 25%;
	left: 45%;
}

.menu__choice__title--closed {
	text-shadow: 0 0 10px $tertiary-color;
	color: transparent;
}

@keyframes shake {
	0% {
		transform: skewX(-10deg);
	}
	5% {
		transform: skewX(10deg);
	}
	10% {
		transform: skewX(-10deg);
	}
	15% {
		transform: skewX(10deg);
	}
	20% {
		transform: skewX(0deg);
	}
	100% {
		transform: skewX(0deg);
	}
}
